<section class="hero is-medium is-link mt-5">
  <div class="hero-body">
    <div class="columns">
        <div class="column is-three-fifths">
          <p class="title has-text-centered is-2 complemento">
            Plataformas Virtuales con multiples recursos
          </p>
          <p class="subtitle has-text-centered pt-3">
            Automaticas y faciles de usar
          </p>
        </div>
        <div class="column">
          <p class="subtitle has-text-centered">
            Examenes, calificaciones automaticas, orden aleatorio de preguntas, tareas, foros, debates, perfil individual, clases secuenciales automatizadas, chat interno, asociacion a Zoom, herramientas Microsoft y herramientas Google.
          </p>
        </div>

  </div>

  </div>
</section>
