<div class="container pt-4">
  <div class="columns">
    <div class="column block">
      <div class="card ">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src='https://colombiatic.org/img/img/3.jpg' alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4 has-text-centered p-3">Diseño Web y aplicaciones móviles</p>
              <p class="subtitle is-6 has-text-justified">Ultima tecnología en diseño de sistemas web y aplicativos web y móviles</p>
            </div>
          </div>
          <div class="content has-text-justified">
            <p> Diseño de su sitio Web con tecnologías como Angular, VueJS, diferentes frameworks con la mayor seguridad en el sistema informatico, servidores  100% OnLine y Seguros</p>
          </div>
        </div>
      </div>
    </div>

    <div class="column block">
      <div class="card ">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src='https://colombiatic.org/img/img/4.jpg' alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4 has-text-centered p-3">Capacitación Virtual especializada</p>
              <p class="subtitle is-6 has-text-justified">Desarrollamos cursos virtuales enfocados en áreas practicas de desarrollo profesional con énfasis en la Docencia y la informática</p>
            </div>
          </div>

          <div class="content has-text-justified">
            Contamos con nuestra propia Aula Virtual con una gran variedad de tematicas orientada al desarrollo efectivo de las competencias necesarias para desarrollar las clases virtuales impartidads por los docentes.
          </div>
        </div>
      </div>
    </div>

    <div class="column block">
      <div class="card ">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src='https://colombiatic.org/img/img/5.jpg' alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4 has-text-centered p-3">Venta de suministros tecnologícos</p>
              <p class="subtitle is-6 has-text-justified">La mejor calidad y tecnología a su mano a un precio increíble, equipos y dispositivos tecnológicos de todo tipo</p>
            </div>
          </div>

          <div class="content has-text-justified">
            Tenemos una gran variedad de insumos tecnológicos para adecuar instituciones y empresas de acuerdo a sus necesidades con la mayor economía          </div>
        </div>
      </div>
    </div>

  </div>


</div>
