<section class="hero is-fullheight is-primary has-text-left	is-bold">
  <div class="hero-body">
    <div class="container">
        <div class="columns is-half has-text-centered	is-vcentered">
          <div class="column is-three-fifths">
                  <h1 class="title is-size-1 has-text-weight-bold is-bold ">
                    ColombiaTIC Ingeniería S.A.S
                  </h1>
                  <h2 class="subtitle is-size-3">
                    Sistemas Informáticos para su Empresa <br>
                    Promocione sus servicios con alta tecnología
                  </h2>
          </div>
          <div class="column is-offset-1">
              <a class="button  is-medium is-warning has-text-centered ">Más Información</a>
          </div>
      </div>
      </div>
    </div>
<div class="is-text-centered is-half">
  <button class="button is-outlined is-half is-warning" href= "https://api.whatsapp.com/send?phone=573046729088"
  >Escribanos al Whatsapp</button>
</div>

</section>


